body{
    background-color: #fff;
	background-image: url(img/web-bag.jpg);
	background-size: cover;
	background-repeat: none;
}

.formbox{
	width: 500px;
    margin: auto;
    height: 570px;
    background-color: rgba(240, 240, 240, 0.78);
    border-radius: 10px;
    padding: 63px 38px;
    margin-top: 8px;
}

.heading {
    font-weight: bold;
    font-size:50px;
    text-align: center;
    margin-top: 79px;
	font-family: 'Montserrat', sans-serif;
    color:white;
    text-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}
.heading span{
	color: #FF7529;
}
.formbox form{
	text-align: center;
}
.inputBox{
    font-family: 'Montserrat', sans-serif;
    color: rgba(31, 31, 31, 0.81);
    font-size: 24px;
}
.inputIcon{
	margin-right: -35px;

}
.inputC{
	width: 70%;
	padding-bottom: 12px;
	padding-left:40px;
    margin-bottom: 40px;
    border :none;
    outline: none;
    border-bottom: 2px solid;
    background-color: transparent;
    font-size: 24px;
}
.inputC:focus{
	outline: none;
	background: none;
	font-size:24px;
	color: #FF722C;
	border-bottom:2px solid #FF722C;
}

.checklable{
	font-size:15px;
	margin:5px 0 5px 0;
	color: #363636;
	font-family: 'Montserrat', sans-serif;
}

.TC{
	text-decoration: none;
	color: #523771;
	transition: 0.5s;
}
.TC:hover{
	color: #F56032;
}

.butn{
	cursor: pointer;
	position: relative;
	background: #ff4b1f; 
    background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  
    background: linear-gradient(to right, #ff9068, #ff4b1f);
    color:white;
    font-size: 20px;
    font-weight:300;
    border:none;
    padding: .8rem 3rem;
    margin:30px 10px;
    border-radius: 30px;
    z-index: 1;
}
.butn::before{
	content: '';
	font-size: 20px;
    font-weight:300;
    border-radius: 30px;
	position: absolute;
	top: 0;
	left:0;
	display: block;
	height: 100%;
	width: 0;
	transition: 0.5s;
	opacity: 0;
	z-index: -1;
	background-image: radial-gradient( circle 902px at 10% 20%,  rgba(18,50,90,1) 0%, rgba(207,199,252,1) 100.2% );
}
.butn:hover:before{
	width:101%;
	opacity: 1;
}

.inputC::placeholder{
	font-size:18px;
	color: black;

 
}
.CS{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #363636;

}

.socialIcons{
	list-style-type: none;
	margin:0;
	padding: 0;
	text-align: center;
}
.socialIcons li{
	display: inline-block;
	margin-right:5px;
}

.socialIcons i{
	font-size: 25px;
	padding: 8px 5px 5px 5px;
	height: 28px;
	width: 30px;
	text-align: center;
	display: inline-block;
	border:2px solid;
	border-radius: 100px;
	transition: 0.6s;
}
.socialIcons i:hover{
	transform: scale(1.2);
}